# Primeiros códigos para extração de dados.

Iniciando o curso de introdução ao Data Science do @meigarom.lopes, "Python do 0 ao DS", na comunidade DS.

Estarei apresentando aqui os conceitos de extração, tratamento, manipulação e análise de dados, que estarei aprendendo ao longo do curso. E conforme eu esteja adquirindo conhecimento, irei começar a trazer analises de cases reais.

Começando demonstrando a minha resolução dos exercicios práticos da aula 03 do curso. Exercicio encontrado no Kaggle (https://www.kaggle.com/datasets/harlfoxem/housesalesprediction), que é uma base de dados, referente a casas que estão à venda em Seatle, nos Estados Unidos. E sobre esse case, iremos responder algumas perguntas de negócios.

In [32]:
import pandas as pd # Importando a biblioteca que será usada nestes exercicios e definindo o apelido.

In [33]:
data = pd.read_csv('C:\\Users\\savio\\anaconda3\\Jupyter\\kc_house_data.csv') # Localizando a base de dados e atribuindo ao objeto "data"

# 1- CRIE UMA NOVA COLUNA CHAMADA "HOUSE_AGE"
    SE O VALOR DA COLUNA DATE FOR <(MAIOR) QUE 2014-01-01 -> "NEW_HOUSE"
    SE O VALOR DA COLUNA DATE FOR >(MENOR) QUE 2014-01-01 -> "OLD_HOUSE".

In [40]:
data ['house_age'] = 'standard' # criando a nova coluna
data['date'] = pd.to_datetime(data['date']) # transformando a coluna 'date' no formato de data
data.loc[data['date'] > '2014-01-01', 'house_age'] = 'new_house' # classificando as datas
data.loc[data['date'] < '2014-01-01', 'house_age'] = 'old_house' # classificando as datas
print(data[['id','price','date','house_age']].head()) # validando se a criação + classificação deu certo
report = data[['id','price','date','house_age']].sort_values('date', ascending=True) # filtrando colunas desejadas para exportar para .csv
report.to_csv('D:\\repositorio\\datasets\\report_house_age.csv') # exportando para excel (.csv) as informações filtradas.

           id     price       date  house_age
0  7129300520  221900.0 2014-10-13  new_house
1  6414100192  538000.0 2014-12-09  new_house
2  5631500400  180000.0 2015-02-25  new_house
3  2487200875  604000.0 2014-12-09  new_house
4  1954400510  510000.0 2015-02-18  new_house

# 2- CRIE UMA NOVA COLUNA CHAMADA: 'DORMITORY_TYPE" 
    SE O VALOR DA COLUNA 'BEDROOMS' FOR < (MENOR) QUE 1 -> 'ROOM'
    SE O VALOR DA COLUNA 'BEDROOMS' FOR == (IGUAL) A 1 -> 'STUDIO'
    SE O VALOR DA COLUNA 'BEDROOMS' FOR == (IGUAL) A 2 -> 'APARTAMENT'
    SE O VALOR DA COLUNA 'BEDROOMS' FOR MAIOR > (MAIOR) QUE 2 -> 'HOUSE'

In [35]:
data['dormitory_type'] = 'standard'
data.loc[data['bedrooms'] < 1, 'dormitory_type'] = 'room'
data.loc[data['bedrooms'] == 1, 'dormitory_type'] = 'studio'
data.loc[data['bedrooms'] == 2, 'dormitory_type'] = 'apartment'
data.loc[data['bedrooms'] > 2, 'dormitory_type'] = 'house'
print(data[['id','price','bedrooms','dormitory_type']].head())
report = data[['id','price','bedrooms','dormitory_type']].sort_values('bedrooms', ascending=True)
report.to_csv('D:\\repositorio\\datasets\\report_dormitory_type.csv')

           id     price  bedrooms dormitory_type
0  7129300520  221900.0         3          house
1  6414100192  538000.0         3          house
2  5631500400  180000.0         2      apartment
3  2487200875  604000.0         4          house
4  1954400510  510000.0         3          house

# 3- CRIE UMA NOVA COLUNA CHAMADO ' CONDITION_TYPE'
    SE O VAOR DA COLUNA 'CONDITION' FOR MENOR OU IGUAL A 2 -> 'BAD'
    SE O VALOR DA COLUNA 'CONDITION' FOR IGUAL A 3 OU 4 -> 'REGULAR'
    SE O VALOR DA COLUNA 'CONDITION' FOR IGUAL A 5 -> 'GOOD'

In [36]:
data['condition_type'] = 'standard'
data.loc[data['condition'] <= 2, 'condition_type'] = 'bad'
data.loc[data['condition'] == 3, 'condition_type'] = 'regular'
data.loc[data['condition'] == 4, 'condition_type'] = 'regular'
data.loc[data['condition'] == 5, 'condition_type'] = 'good'
print(data[['id','condition','condition_type']].head)
print(data.loc[data['condition'] == 4, ['id','condition','condition_type']].shape) # print para teste de condição
print(data.loc[data['condition'] == 3, ['id','condition','condition_type']].shape) # print para teste de condição
report = data[['id','price','condition','condition_type']]
report.to_csv('D:\\repositorio\\datasets\\condition_type.csv')

<bound method NDFrame.head of                id  condition condition_type
0      7129300520          3        regular
1      6414100192          3        regular
2      5631500400          3        regular
3      2487200875          5           good
4      1954400510          3        regular
...           ...        ...            ...
21608   263000018          3        regular
21609  6600060120          3        regular
21610  1523300141          3        regular
21611   291310100          3        regular
21612  1523300157          3        regular

[21613 rows x 3 columns]>
(5679, 3)
(14031, 3)